
// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";


// BASE
@import "./base/common";
@import "./base/container";


// COMPONENTS
@import "./components/social-list";
@import "./components/social-list-footer";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";


// LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/about";
@import "./layout/team-section";
@import "./layout/our-clients";
@import "./layout/footer";
@import "./layout/portfolio-full-page"











