.about-container__wrapper {
    position: relative;
  }
  
  .about-container__overlay {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    color: #ffffff;
  
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    bottom: 0px;
  }
  
  .about-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--title-text-color);
    margin-bottom: 50px;
  }
  .advantages-container {
    display: flex;
    justify-content: space-between;
  }
  
  .about-container {
    display: flex;
    justify-content: space-between;
  }