
.advantages-container {
  display: flex;
  justify-content: space-between;
}

.advantages,
.about {
  background-color: var(--primary-white-color);
}

.advantages-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.advantages-item {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}
.advantages-li:not(:last-child) {
  margin-right: 30px;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}