.burger-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    
    &__icon{
 width: 40px;
 height: 40px;
 
 fill: #212121;
    }
    &__icon:hover,
    &__icon:focus{
      fill: #2196F3;
    }
 
  }

  .mobile-menu__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  position: relative;
  height: 100vh;
  padding: 48px 25px;
  
  
}
  .mobile-menu{
    position: fixed;
    z-index: 99;
    left: 0;
     top: 0;
     width: 100vw;
   height: 100vh; 
   background-color: #ffffff;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .mobile-menu.is-open{
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
   }
   
   .close-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
   top: 21px;
   right: 26px;
 &__icon{
   width: 40px;
   height: 40px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 &__icon:focus,
 &__icon:hover {
   fill: var(--accent-color);
 }
   }
 
 // .mobile-menu__close-btn{
 //   position: absolute;
 //   top: 21px;
 //   right: 30px;
 // }
 
 
 
 .nav-list__item{
   margin-bottom: 10px;
 }


 .nav-list__link{
display: inline-block;
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 40px;
 line-height: 1.17;
 letter-spacing: 0.02em;
 color: #212121;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 margin-bottom: 32px;
 

 &:hover,
 &:focus{
   color: var(--accent-color);
 }

 

 }
 
 // contacts of header //
 
 .mobile-menu__contacts-top{
   margin-bottom: 64px;
 }
 
 .mobile-menu__link{
font-family: Roboto;
 font-weight: 500;
 font-size: 24px;
 line-height: 1.16;
 letter-spacing: 0.02em;
 margin-top: 32px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 color: #757575;
 &:hover,
 &:focus{
   color: var(--accent-color) ;
 }
 
 }
 
 @media (max-width: 480px) {
    .social-list-mobile-menu{
        flex-wrap: wrap;
 }
 }
 .social-list-mobile-menu{
 display: flex;
 }
 
 .social-list-mobile-menu__link{
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 1.22;
 /* identical to box height, or 122% */
 letter-spacing: 0.02em;
 color: #2196F3;
 
 }
 
 .social-list-mobile-menu__item{
   position: relative;
 }
 
 .social-list-mobile-menu__item:not(:last-child){

  margin-right: 20px;
  
 

   &::after{
     content: "";
     position: absolute;
     top: 0;
     right: -10px;
     width: 0px;
    height: 22px;
    border: 1px solid rgba(33,33,33,0.2);
    
   
   }
   
  }