/* Портфолио */
  
.main {
    background-color: var(--mainbgrtwo-color);
  }
  
  .filters .item {
    background-color: var(--mainbgrtwo-color);
    color: var(--title-text-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.64;
  
    text-align: center;
    letter-spacing: 0.03em;
  
    cursor: pointer;
    background: #f5f4fa;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  }

  .button-li {
    margin-right: 8px;
  }

  
  .parents {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  /* -- h2 список наших проектов--> */
  .card {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-top: none;
    padding: 20px 24px;
  }
  
  .parents-projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .portfolio-page {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
  
  .portfolio-link {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }

  
  .project-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
  
    letter-spacing: 0.06em;
  
    color: var(--title-text-color);
  }
  
  .project-type {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  .wrapper-portfolio {
    position: relative;
    overflow: hidden;
  }
  .overlay-portfolio {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    padding: 63px 24px 63px 23px;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* or 156% */
    top: 0;
    left: 0;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio-page:focus .overlay-portfolio,
  .portfolio-page:hover .overlay-portfolio {
    transform: translateY(0%);
  }